body {
  background-color: #edf1f7;
}

.container {
  margin-top: 100px;
}

.navbar {
  position: absolute;
  width: 100%;
  padding: 30px 20px;
  background: #081426;
  left: 0;
  top: 0;
} 

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  border-radius: 5px;
}

button#add {
  background: #3a3b3c;
}

button#save {
  background: #5cb85c;
}

